/********** HEADER ABOUT START **********/

.header_about {
    width: 100%;
    height: 615px;
    background: var(--main-bg);
}

.showcase_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.showcase_about_text_top {
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 32px;
    color: rgba(241, 241, 241, 1);
    margin-bottom: 12px;
}
.showcase_about_title {
    color: #fff;
    font-family: "Manrope";
    font-size: 4rem;
    font-weight: 400;
    line-height: 84px;
    margin-bottom: 17px;
}

.showcase_about_text_down {
    font-family: "Open Sans";
    color: var(--Light-Grey);
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
}

/* HEADER ABOUT END */

/********** OUR - PICTURES - SECTION START **********/

.our_pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin-top: -100px;
}

.our_images {
    width: 300px;
    height: 285px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.our_images:last-child {
    grid-column: 2 / 4;
    margin-right: 45px;
}

.our_images_second {
    width: 400px;
    height: 602px;
}

/* OUR - PICTURES - SECTION END */

/********** OUR - STORY - SECTION START **********/

.our_story {
    width: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 80px;
}

.our_story_text_top {
    color: var(--Gray);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 32px;
}
.our_sotory_title {
    color: #000;
    font-family: "Manrope";
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}
.our_story_text_down {
    font-family: "Open sans";
    color: var(--Gray);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 0 90px;
}

/* OUR - STORY - SECTION END */

/********** OUR - NUMBERS - SECTION START **********/

.our_numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    height: 564px;
    margin-bottom: 96px;
}

.our_numbers_texts_top {
    text-align: center;
}

.our_numbers_texts_top .paragraphs_s {
    color: #fff;
    margin-bottom: 12px;
}

.our_numbers_title {
    color: #fff;
    text-align: center;
    font-family: "Manrope";
    font-size: 3.1rem;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 82px;
}

.our_numbers_count {
    display: flex;
    gap: 141px;
}

.our_numbers_sum {
    color: #4fe9a4;
    font-family: "Manrope";
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 32px;
}
.our_numbers_text_down {
    font-family: "Open Sans";
    color: var(--Light-Grey);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 36px;
    padding-top: 22px;
}

/* OUR - NUMBERS - SECTION END */

/********** OUR - TEAM - SECTION START **********/

.our_team_content {
    width: 760px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.our_team .headings_xxl {
    color: #000;
    padding: 12px 0 22px;
}

.our_team_mambers {
    display: flex;
    justify-content: space-between;
    padding: 56px 0;
}

.our_team_mamber {
    width: 300px;
}

.our_team_mamber .headings_l {
    color: #000;
    padding: 24px 0 12px;
}

/* OUR - TEAM - SECTION END */

/********** OUR - VALUES - SECTION START **********/

.our_values {
    width: 100%;
    background-color: #0a2640;
    color: #fff;
    padding: 120px 0 120px;
    margin-bottom: 120px;
}

.our_values_content {
    max-width: 800px;
    margin: 0 auto;
}

.our_values_content ul {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 72px 0 0;
}

.our_values_content .paragraphs_s {
    color: #fff;
}

.our_values_content .headings_xxl {
    padding: 12px 0 22px;
}

.our_values_list {
    display: flex;
    gap: 50px;
}

.our_values_list img {
    width: 150px;
}

.our_values_list_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* OUR - VALUES - SECTION END */

/********** INPUT EMAIL ADDRESS SECTION START **********/

/* style */

/* INPUT EMAIL ADDRESS SECTION END */
