/********** HEADER ABOUT START **********/

.header_about {
    width: 100%;
    height: 615px;
    background: var(--main-bg);
}

/* HEADER ABOUT END */

/********** OUR - PICTURES - SECTION START **********/

/* style */

/* OUR - PICTURES - SECTION END */

/********** OUR - STORY - SECTION START **********/

/* style */

/* OUR - STORY - SECTION END */

/********** OUR - NUMBERS - SECTION START **********/

/* style */

/* OUR - NUMBERS - SECTION END */

/* PASI ABDULAZIZGA ****************************************************************************/

/********** OUR - TEAM - SECTION START **********/

/* style */

/* OUR - TEAM - SECTION END */

/********** OUR - VALUES - SECTION START **********/

/* style */

/* OUR - VALUES - SECTION END */

/********** INPUT EMAIL ADDRESS SECTION START **********/

/* style */

/* INPUT EMAIL ADDRESS SECTION END */
