/********** HEADER BLOG START **********/

.header_blog {
    width: 100%;
}

.header_blog li {
    color: var(--Dark-Blue);
}

.header_blog .login_button {
    border-color: var(--Dark-Blue);
}

/* HEADER BLOG END */

/********** LATEST - NEWS - SECTION START **********/

.latest_news_container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.latest_news_container .headings_xxl {
    color: #000;
    padding: 40px 0;
}

.latest_news_container .cards {
    padding: 0;
}

.latest_news_container .category {
    padding: 0 0 68px;
}

.load_more {
    width: 1000px;
    display: flex;
    justify-content: center;
    padding: 16px 0 40px;
}

/* INPUT EMAIL ADDRESS SECTION END */
