:root {
    --main-bg: #0a2640;
    --header-circle-bg: #1c3d5b;
    --Light-Grey: #f1f1f1;
    --Green: #65e4a3;
    --Gray: #777;
    --Dark-Blue: #0a2640;
    --Green: #65e4a3;
}

/* RESET START */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/* RESET END */

/* GLOBAL CLASSES START */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container_content {
    max-width: 1100px;
    margin: 0 auto;
}

.container_small {
    max-width: 1000px;
    margin: 0 auto;
}

.heading_xxxl {
    color: #fff;

    /* Headings/TextXXXL */
    font-family: "Manrope";
    font-size: 64px;
    font-weight: 400;
    line-height: 84px;
}

.headings_xxl {
    color: #fff;

    /* Headings/Text XXL */
    font-family: "Manrope";
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}

.headings_xl {
    color: #000;

    /* Headings/Text XL */
    font-family: "Manrope";
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
}

.headings_l {
    color: #fff;

    /* Headings/Text L */
    font-family: "Manrope";
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
}

.paragraphs_xs {
    color: var(--Light-Grey);

    /* Paragraphs/Text XS */
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.paragraphs_m {
    color: #000;

    /* Paragraphs/Text M */
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.paragraphs_s {
    color: var(--Gray, #777);

    /* Paragraphs/Text S */
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.explore_page {
    color: #0a2640;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;

    border-bottom: 1px solid #0a2640;
    width: fit-content;
    transition: 0.3s;

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f061";
        padding-left: 12px;
        vertical-align: middle;
    }

    &:hover {
        color: #65e4a3;
        border-color: red;
    }
}

.green_button {
    color: var(--Dark-Blue);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    border: 2px solid #69e6a6;
    background: var(--Green, #65e4a3);
}

.transparent_button {
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    border: 2px solid #fff;
}

.dark_blue_button {
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    border: 2px solid var(--Dark-Blue);
    background: var(--Dark-Blue);
}

.transp_dark_blue_button {
    color: var(--Dark-Blue);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    display: inline-flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 56px;
    border: 2px solid var(--Dark-Blue);
}

.login_button {
    color: var(--Dark-Blue);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    display: flex;
    padding: 8px 40px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    border: 2px solid #fff;
    background: #fff;
}

.hiring {
    color: var(--Dark-Blue);
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

    display: inline-flex;
    padding: 1px 14px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 120px;
    background: var(--Green);
}

.tx-c {
    text-align: center;
}

/* GLOBAL CLASSES END */

/* HEADER START */

.header_homepage {
    background-color: var(--main-bg);
    width: 100%;
    height: 798px;
}

.main_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 56px 0;
}

.main_navbar img {
    width: 162px;
}

.navbar_item {
    display: flex;
    gap: 40px;
    align-items: center;

    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.header_homepage {
    background-image: url(../images/hompage/header_bg_img.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.showcase_hompage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.showcase_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.showcase_buttons {
    display: flex;
    gap: 24px;
    padding-top: 24px;
}

.showcase_diogram_img {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.second_third_images {
    display: flex;
    gap: 38.56px;
}

.showcase_first_img {
    width: 493.858px;
}

.showcase_second_img {
    width: 192.175px;
}

.showcase_third_img {
    width: 261.959px;
}

.brandr_img {
    width: 1120px;
    display: flex;
    margin: 75px auto 0;
    justify-content: center;
}

.brandr_img img {
    height: 42px;
}

.brands_space {
    margin-left: 15px;
}

/* HEADER END */

/* OUR - SERVICES - SECTION START */

.our_services {
    margin-top: 80px;
}

.our_services .headings_xxl {
    color: #000;
    padding-top: 12px;
}

.cool_feature_cards {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.cool_feature_card {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cool_feature_card img {
    margin-bottom: 12px;
}

.more_income_in_june {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0;
}

.more_income_img {
    width: 494px;
    height: 610px;
    position: relative;
}

.img_diogram {
    width: 251px;
    height: 388px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 222px;
    left: 186px;
}

.img_diogram img {
    width: 170px;
    height: 227.21px;
    margin-bottom: 20px;
}

.persentage_june {
    width: 170px;
    color: var(--Dark-Blue);
    font-family: "Manrope";
    font-size: 24px;
    font-weight: 700;
    line-height: 36.267px;
}

.more_income_text {
    width: 170px;
    color: var(--Dark-Blue);
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.more_income_content {
    width: 494px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.more_income_content ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.more_income_content li {
    color: #000;
    display: flex;
    align-items: center;
    gap: 27px;
}

.more_income_content li .fa-check {
    width: 36px;
    height: 36px;
    background-color: #0a2640;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more_income_content li:last-child {
    margin-bottom: 16px;
}

.agile_development {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agile_development_content .headings_xl {
    margin-bottom: 60px;
}

.we_connect_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.we_connect_list_item {
    width: 500px;
    height: 68px;
    gap: 14px;
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
    padding-left: 26px;
    transition: 0.3s;

    &:hover {
        transform: translate(5px, 5px);
        background-color: var(--Dark-Blue);
        color: #fff;
    }
}

.item_dark_blue {
    background: var(--Dark-Blue);
    color: #fff;
}

.agile_development_img {
    width: 444px;
    height: 692px;
    position: relative;
}

.img_piechart {
    width: 291px;
    height: 388px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    position: absolute;
    top: 304px;
    right: 105px;
}

.img_piechart img {
    width: 173.469px;
}

.piechart_persent {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.piechart_persent li {
    color: #000;
    font-family: "Manrope";
    font-size: 13.878px;
    font-weight: 400;
    line-height: 23.79px;
}

.piechart_persent span {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
}

.aqua_circle {
    background-color: #0dbbfc;
}

.green_circle {
    background-color: #69e6a6;
}

.grey_circle {
    background-color: #c4c4c4;
}

/* OUR - SERVICES - SECTION END */

/* AN - ENTERPRICE - TEMPLATE - SECTION START */

.an_enterprice {
    width: 100%;
    height: 605px;
    background: var(--Dark-Blue);
    margin: 120px auto;
    padding: 96px 0 80px;
}

.an_enterprice_content {
    display: flex;
    width: 1200px;
}

.an_enterprise_title {
    width: 1200px;
    height: 139px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left_right {
    display: flex;
    gap: 28px;
    margin-right: -54px;
    margin-bottom: -36px;
}

.fa-arrow-left,
.fa-arrow-right {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.an_enterprice_cards {
    padding-top: 72px;
    display: flex;
    align-items: start;
    gap: 22px;
    justify-content: space-between;
}

.an_enterprice_card {
    width: 250px;
    display: inline-block;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.12);
    padding: 40px;
}

.an_enterprice_card .paragraphs_s {
    color: #000;
}

.staff_name_status {
    display: flex;
    gap: 16px;
}

.staff_name_status img {
    width: 58px;
    height: 58px;
}

.name_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.staff_name {
    color: var(--Dark-Blue);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.staff_status {
    color: var(--Dark-Blue);
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    line-height: 32px;
}

/* AN - ENTERPRICE - TEMPLATE - SECTION END */

/* FREQUENTLY - ASKED - QUESTIONS - SECTION START */

.faq_section_content {
    display: flex;
    justify-content: space-between;
    padding: 56px 0 118px;
}

.faq_questions {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq_questions .paragraphs_s {
    width: 500px;
    color: #000;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #c4c4c4;
}

.faq_questions .fa-chevron-down {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: #fff;
    background-color: var(--Dark-Blue);
}

/* FREQUENTLY - ASKED - QUESTIONS - SECTION END */

/* OUR - BLOG - HOMEPAGE - SECTION START */

.value_proposition {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 40px 0;
}

.our_blog_hompage .headings_xxl {
    color: #000;
}

.cards {
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 79px 0 84px;
    flex-wrap: wrap;
}

.category {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
}

.category img {
    height: 209px;
    border-radius: 24px;
}

.category_date {
    color: var(--Dark-Blue);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 12px;
}

.category_date .paragraphs_xs {
    color: var(--Gray);
}

.category .paragraphs_s {
    color: #000;
    height: 99px;
}

.user_name {
    display: inline-flex;
    gap: 12px;
    padding-top: 8px;
}

.user_name img {
    width: 32px;
    height: 32px;
}

.user_name .paragraphs_xs {
    color: #000;
}

/* OUR - BLOG - HOMEPAGE - SECTION END */

/* INPUT EMAIL ADDRESS SECTION START */

.an_enterprise {
    height: 391px;
    margin: 84px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--main-bg);
    background-image: url(../images/hompage/an_enterprise_bg_img.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.send_email_form {
    display: flex;
    gap: 24px;
}

.an_enterprise input[type="email"] {
    width: 370px;
    height: 56px;
    color: #000;
    padding-left: 32px;

    /* Paragraphs/Text S */
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 240px;
    border: 2px solid #fff;
    background: #fff;

    &:focus {
        outline: none;
    }
}

.an_enterprise button {
    cursor: pointer;
}

/* INPUT EMAIL ADDRESS SECTION END */

/* FOOTER START */

.main_footer {
    padding: 100px 0;
}

.flex-footer {
    display: flex;
    gap: 180px;
}

.all_right_reserved {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.all_right_reserved p:last-child {
    margin-top: 24px;
}

.all_right_reserved img {
    width: 156px;
}

.all_right_reserved .paragraphs_xs {
    color: var(--Gray);
}

.footer_item {
    display: flex;
    gap: 96px;
}

.footer_item ul {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer_item ul li {
    color: var(--Gray, #777);

    /* Paragraphs/Text S */
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.footer_item .footer_active {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.footer_careers_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* FOOTER END */
